Options -Multiviews
RewriteEngine on

RewriteRule ^account/login$ internal/account/login.php [QSA]
RewriteRule ^account/register$ internal/account/register.php [QSA]
RewriteRule ^account/logout$ internal/account/logout.php [QSA]

RewriteRule ^chat$ internal/information/chat.php [QSA]
RewriteRule ^chat/$ internal/information/chat.php [QSA]
RewriteRule ^chat/([0-9]+)$ internal/information/chat.php?chat=$1 [QSA]
RewriteRule ^chat/list$ internal/information/chat.php?list=true [QSA]
RewriteRule ^schueler/$ internal/information/schueler_liste.php [QSA]
RewriteRule ^schueler$ internal/information/schueler_liste.php [QSA]
RewriteRule ^schueler/([0-9]+)$ internal/information/schueler.php?schueler=$1 [QSA]
RewriteRule ^blog/([0-9]+)$ internal/information/blog.php?blog=$1 [QSA]
RewriteRule ^werkzeuge$ internal/information/werkzeuge.php [QSA]
RewriteRule ^werkzeuge/$ internal/information/werkzeuge.php [QSA]
RewriteRule ^werkzeuge/([a-zA-Z0-9_-]+)$ internal/information/werkzeuge/$1/index.php [QSA]
RewriteRule ^werkzeuge/([a-zA-Z0-9_-]+)/$ internal/information/werkzeuge/$1/index.php [QSA]
RewriteRule ^werkzeuge/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ internal/information/werkzeuge/$1/$2.php [QSA]
RewriteRule ^zeitung/$ internal/information/zeitung.php [QSA]
RewriteRule ^zeitung$ internal/information/zeitung.php [QSA]
RewriteRule ^zeitung/([0-9]+)$ internal/information/zeitung.php?zeitung=$1 [QSA]

RewriteRule ^impressum$ internal/information/impressum.php [QSA]
RewriteRule ^datenschutzerklaerung$ internal/information/datenschutz.php [QSA]

RewriteRule ^galerie$ internal/information/galery.php [QSA]
RewriteRule ^galerie/$ internal/information/galery.php [QSA]
RewriteRule ^galerie/([0-9]+)$ internal/information/galery.php?picture=$1 [QSA]

RewriteRule ^files/(.+)$ internal/information/file.php?file=$1 [QSA]

RewriteRule ^warum_meg$ internal/information/warum_meg.php [QSA]

ErrorDocument 404 /error/404.html
